.green {
    color: green;
 }

.text,.list {
    color: red;
  }

 #firstname {
    color: blue;
 }

 h3 {
    color: violet;
 }

div > h2 {
    color: aqua;
}

[data-modal="open"] {
    color: chartreuse;
}

div p {
    color: pink;
}

.link {
    color: teal;
}

.link:hover {
    color: tomato;
}

.social-item .item {
    color: burlywood; 
}

.social-item .item:focus {
    color: orange;
}

h4~p {
    color: chartreuse;
}

a[title] {
    color: darkred;
}





