$primary-color: #FFFFFF;
$primary-color1: #000000;
$primary-color2: #282828;
$primary-color3: #221F1F;
$primary-color4: #FFF8E4;
$primary-color5: #FF6336;
$primary-color6: #FF9C7D;
$primary-color7: #C9E8F2;
$primary-color8: #CCCCCC;
$primary-color9: #DABC98;
$primary-color10: #EEEEEE;
$primary-color11: #FFC500;
$primary-color12: rgba(0, 0, 0, 0.5);