@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0;
  padding: 25px 0;
  border-bottom: 1px solid #CCCCCC;
}
.header__line {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.nav__item-link {
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  color: #000000;
}

.btn__login {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px 40px;
}
.btn__free {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF6336;
  border: 1px solid #FF6336;
  padding: 5px 35px;
}

.container1 {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 40px;
  padding: 100px 0 150px 0;
  margin: 0 75px 0 75px;
}
.container1__code {
  color: #000000;
}
.container1 .code-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 70px;
  margin-bottom: 50px;
}
.container1 .code-text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 50px;
}
.container1 .code-text2 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  padding-top: 25px;
}

.btn__demo {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 5px 30px;
}
.btn__free1 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FF6336;
  border: 1px solid #FF6336;
  padding: 5px 40px;
}

.container2 {
  padding: 100px 0;
  background: #FF9C7D;
}
.container2 .comp-subject {
  font-family: "Roboto Flex", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}
.container2 .comp-grid {
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  grid-gap: 0;
  grid-template-columns: repeat(6, 150px);
}

.container3 {
  padding: 100px 0 150px 0;
  margin: 0 75px 0 75px;
}
.container3 .card-gif {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 0;
  grid-template-columns: repeat(2, 550px);
  grid-row-gap: 200px;
  grid-template-areas: ". a" "b ." ". c" "d .";
}
.container3 .gif1 {
  grid-area: a;
}
.container3 .gif2 {
  grid-area: b;
}
.container3 .gif3 {
  grid-area: c;
}
.container3 .gif4 {
  grid-area: d;
}
.container3 .card-process1,
.container3 .card-process3 {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 30px;
  padding: 5px 160px 5px 0px;
}
.container3 .card-process2,
.container3 .card-process4 {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 30px;
  padding: 5px 0px 0px 140px;
}
.container3 .titel-process {
  font-family: "Roboto Flex", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
}
.container3 .text-process {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: none;
  line-height: 30px;
  color: #000000;
}
.container3 .btn-card {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #000000;
}

.container4 {
  background: #FFF8E4;
  padding: 120px 0 90px 0;
}
.container4 .card-title2 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
  text-align: center;
  margin-bottom: 80px;
}
.container4 .card-info {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 75px 120px;
  grid-template-columns: repeat(3, 1fr);
}
.container4 .card {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: center;
  grid-gap: 20px;
  padding: 20px 10px 0px 10px;
}
.container4 .card-details {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 20px;
}
.container4 .card-items {
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 35px;
  color: #000000;
  text-align: center;
}
.container4 .card-item {
  font-family: "Roboto Flex", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
  text-align: center;
}

.container5 {
  padding: 150px 0 150px 0;
  margin: 0 75px 0 75px;
}
.container5 .card-title2 {
  font-family: "Roboto Flex", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 60px;
  color: #000000;
  text-align: center;
  margin-bottom: 80px;
}
.container5 .card2-job {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
}
.container5 .card2 {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 50px;
}
.container5 .card-titel-cont {
  display: grid;
  justify-content: none;
  align-items: none;
  justify-items: none;
  grid-gap: 30px;
}
.container5 .card-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  color: #000000;
}
.container5 .card-text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
}
.container5 .card-link {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #000000;
  text-decoration-line: underline;
}

.container6 {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 60px;
  padding: 60px 75px 100px;
  background: #C9E8F2;
}
.container6 .Revolut-sub {
  font-family: "Roboto Flex", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
  color: #000000;
  padding-bottom: 25px;
}
.container6 .Revolut-user {
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: #000000;
  padding-bottom: 10px;
}

.container7 {
  display: flex;
  justify-content: center;
  align-items: none;
  gap: 0;
  padding: 75px;
  background: #DABC98;
}
.container7__cake {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 60px;
}
.container7 .cake-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 35px;
  font-weight: 600;
  line-height: 50px;
  color: #000000;
  border-right: 1px solid black;
  padding-right: 125px;
}
.container7 .cake-icon {
  display: flex;
  justify-content: center;
  align-items: none;
  gap: 20px;
  flex-direction: column;
  padding: 0 0 0 70px;
}

.container8 {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 0;
  padding: 150px 0;
  flex-direction: column;
}
.container8 .bird-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
  color: #000000;
}
.container8 .bird-text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 25px;
  font-weight: none;
  line-height: 30px;
  color: #000000;
  margin-bottom: 25px;
}
.container8 .bird-see {
  font-family: "Roboto Flex", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
  background: #FF6336;
  border-color: #FF6336;
  padding: 10px 20px;
  margin-top: 20px;
}

.container9 {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 0;
  padding: 119px 0 160px 0;
  background: #FF9C7D;
  flex-direction: column;
}
.container9 .local-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 65px;
  font-weight: 600;
  line-height: 75px;
  color: #000000;
  margin-bottom: 30px;
}
.container9 .local-text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: none;
  line-height: 30px;
  color: #000000;
  margin-bottom: 50px;
}
.container9 .btn-local {
  font-family: "Roboto Flex", sans-serif;
  font-size: 17px;
  font-weight: 600;
  line-height: 60px;
  color: #FFFFFF;
  background: #000000;
  border-color: #FF6336;
  padding: 10px 40px;
}

.container10 {
  padding: 100px 75px 0px 75px;
  background: #EEEEEE;
}
.container10__case {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
}
.container10 .case {
  border-bottom: 1px solid #000000;
  padding: 0 0 90px 0;
}
.container10 .case-studies {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0;
  color: #000000;
  flex-direction: column;
  padding-right: 70px;
}
.container10 .case-img {
  padding-top: 30px;
}
.container10 .case-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 50px;
}
.container10 .case-text {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: none;
  line-height: 30px;
  padding: 10px 0 15px 0;
  width: 50%;
}
.container10 .case-span {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.case-list {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 0;
  flex-direction: column;
  min-width: 225px;
}
.case-list .list-titel {
  font-family: "Roboto Flex", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #000000;
}
.case-list .list-li {
  font-family: "Roboto Flex", sans-serif;
  font-size: 15px;
  font-weight: none;
  line-height: 15px;
  padding: 20px 20px 0 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  background: #EEEEEE;
  font-family: "Roboto Flex", sans-serif;
  font-size: 12px;
  font-weight: none;
  line-height: 15px;
  padding: 50px 75px 50px 75px;
}
.footer__logo {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 15px;
}
.footer__text {
  width: 50%;
  color: #000000;
}
.footer__logo-span {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 0;
  flex-direction: column;
  color: #000000;
}

.span {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */