$white: #FFFFFF;
$white40: rgba(255, 255, 255, 0.4);
$grey: #333333;
$dark:#000000;
$dark85:rgba(0, 0, 0, 0.85);
$dark50: rgba(0, 20, 0, 0.5);
$green: #1ED400;
$green40: rgba(30, 212, 0, 0.4);
$cyan: #027FA5;
$white-smoke: #D5D8DB;