@use 'color';
@use 'mixin';


*{  border: none;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.header{
    @include mixin.flex(space-around, center, none);
    background: color.$dark85;
    padding: 36px 0;
    position: sticky;
    &__logo{
        @include mixin.Roboto(32px, 700, 32px); 
        color: color.$white;
    }
.nav {
    &__item {
        &-link {
            color: color.$white;
        }
    }
}

.social {
    &__item {
        &-link {
            svg {
                path {
                    fill: color.$white;
                }

                rect {
                    fill: color.$white;
                }
            }
        }
    }
    }
}
.nav{
    @include mixin.flex(center, center, 56px);
        &__item {
            &-link {
                @include mixin.Lato(22px, 500, 22px);
                }
            }
}
.langBar{
    @include mixin.flex(center, center, 4px);

}
.social {
    @include mixin.flex(center, center, 32px);
}
   .bg-photo {
       background-image: url('../img/derek-thomson-TWoL-QCZubY-unsplash.png');
       background-size: cover;
       background-repeat: no-repeat;
       min-width: 100%;
       width: 100%;
       height: 964px;
       margin-top: -119px;
       @include mixin.flex(center, center, 0px);
       flex-direction: column;

   }

   .airplane {
       margin-top: 72px;
   }

   .call-to-action {
       @include mixin.flex(center, center, 32px);
       flex-direction: column;
       background-color: color.$dark85;
       padding: 48px;

       pre {
           @include mixin.Lora(84px, 700, 100px);
           color: color.$white;
           text-transform: uppercase;
           text-align: center;
           width: 100%;
       }

       span {
           @include mixin.Lato(24px, 400, 24px);
           color: color.$white;
       }

       .btn {
           padding: 21px 110px;
       }
   }

   .btn {
       background-color: color.$green;
       color: color.$white;
       @include mixin.Lato(16px, 900, 16px);
   }
.about-us{
padding: 144px 141px 124px 141px;
&__travell{
@include mixin.flex(center, center, 0px);
flex-direction: column;
.travell-titel{
    @include mixin.Roboto(56px, 700, normal);
    color: color.$grey;
    text-transform: uppercase;
    margin-bottom: 32px;
}
.travell-text{
    @include mixin.Quicksand(20px, 500, 32px);
    color: color.$grey;
    text-align: center;
    margin-bottom: 64px;
    width: 50%;
}
}
.travell-card{
@include mixin.flex(none, none, 120px);
justify-content: center;
.travell-item{
    @include mixin.flex(none, center, 0);
    flex-direction: column;
}
.item-text {
    @include mixin.Quicksand(40px, 400, 32px);
    color: color.$grey;
    text-align: center;
    width: 100%;
    margin-top: 20px
}
.item-number {
    @include mixin.Roboto(144px, 700, normal);
    color: color.$green;
    text-transform: uppercase;
    margin-bottom: -100px;
}
}
}
.bg-photo1 {
    background-image: url('../img/ken-cheung.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    width: 100%;
    height: 964px;
    @include mixin.flex(center, center, 0px);
    flex-direction: column;
}

.call-to-action1 {
    @include mixin.flex(center, center, 0);
    flex-direction: column;
    padding: 56px 0 106px 0;
    .titel-sub{
        @include mixin.Roboto(56px, 700, normal);
        color: color.$white;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    .titel {
        @include mixin.Roboto(144px, 700, 100px);
        color: color.$white;
        text-transform: uppercase;
        text-align: center;
        width: 100%;
        margin-bottom: 16px;
    }
    .data {
        @include mixin.Quicksand(24px, 500, 18px);
        color: color.$white;
        text-transform: uppercase;
        margin-bottom: 32px;
    }
    .text{
        @include mixin.Quicksand(24px, 400, 32px);
        color: color.$white;
        text-align: center;
        width: 50%;
        margin-bottom: 16px;     
    }
    .titel-sub-text{
        @include mixin.Quicksand(28px, 500, 32px);
        color: color.$white;
        border-top: 3px solid color.$white;
        color: #FFF;
        text-align: center;
        text-transform: uppercase;
        padding: 40px 0 24px 0;
    }
    .btn1 {
        padding: 19px 50px;
    }
}
.btn1 {
    background-color: color.$green;
    color: color.$white;
    @include mixin.Quicksand(20px, 700, 18px);
}

.popular{
    padding: 124px 150px 72px 150px;
    .titel-subject{
        @include mixin.Roboto(56px, 700, normal);
        color: color.$grey;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 40px;
    }
    .info{
        @include mixin.flex(center, center, 40px);
    }
    .titel-card{ 
        position: relative;
    }
    .text-card{
        @include mixin.Roboto(18px, 400, 18px);
        color: color.$white;
        padding: 5px 8px 5px 8px;
        background-color: color.$dark85;
        position: absolute;
        top: 10px;   
    }   
}
.popular__btn{
    @include mixin.flex(center, center, 8px);
    flex-direction: column;
    svg{
        path{
            fill: color.$grey;
        }
        rect{
            fill: color.$grey;
        }
    }
    }
    .btn2 {
            padding: 19px 62px;
            margin-top: 50px;
            background-color: color.$green;
            color: color.$white;
            @include mixin.Quicksand(20px, 700, 18px);
        }
    
.stories {
    background-image: url('../img/jeremy.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: color.$green40;
    min-width: 100%;
    width: 100%;
    height: 964px;
    @include mixin.flex(center, center, 0px);
    flex-direction: column;
    .stories__titel{
        svg {
            position: absolute;
            top: 130px;
            right: 203px;
                path {
                    fill: color.$white;
                }
                rect {
                    fill: color.$white;
                }
            }
        .svg{
            position: absolute;
            top: 157px;
            right: 237px;
        
                path {
                    fill: color.$white;
                }
        
                rect {
                    fill: color.$white;
                }
            }
    }
    .titel-subject1 {
        @include mixin.Roboto(56px, 700, normal);
        color: color.$white;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 32px;
    }
    .info1 {
        @include mixin.flex(center, center, 112px);
    }

    .titel-card1 {
        position: relative;
    }

    .text-card1 {
        @include mixin.Lato(14px, 500, normal);
        color: color.$white;
        padding: 4px 8px 4px 8px;
        background-color: color.$dark85;
        position: absolute;
        top: 10px;
    }
}

.footer {
    @include mixin.flex(space-around, center, none);
    background: url('../img/imgMountains.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 36px 0;

    &__logo {
        @include mixin.Roboto(32px, 700, 32px);
        color: color.$dark;
    }
.nav {
    &__item {
        &-link {
            color: color.$dark;
        }
    }
}

.social {
    &__item {
        &-link {
            svg {
                path {
                    fill: color.$dark;
                }

                rect {
                    fill: color.$dark;
                }
            }
        }
    }
}
}

