@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Lora:wght@700&family=Quicksand:wght@400;500;700&family=Roboto+Slab:wght@700&display=swap");
* {
  border: none;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: none;
  background: rgba(0, 0, 0, 0.85);
  padding: 36px 0;
  position: sticky;
}
.header__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
}
.header .nav__item-link {
  color: #FFFFFF;
}
.header .social__item-link svg path {
  fill: #FFFFFF;
}
.header .social__item-link svg rect {
  fill: #FFFFFF;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
.nav__item-link {
  font-family: "Lato", serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 22px;
}

.langBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.bg-photo {
  background-image: url("../img/derek-thomson-TWoL-QCZubY-unsplash.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  width: 100%;
  height: 964px;
  margin-top: -119px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}

.airplane {
  margin-top: 72px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 48px;
}
.call-to-action pre {
  font-family: "Lora", serif;
  font-size: 84px;
  font-weight: 700;
  line-height: 100px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.call-to-action span {
  font-family: "Lato", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  color: #FFFFFF;
}
.call-to-action .btn {
  padding: 21px 110px;
}

.btn {
  background-color: #1ED400;
  color: #FFFFFF;
  font-family: "Lato", serif;
  font-size: 16px;
  font-weight: 900;
  line-height: 16px;
}

.about-us {
  padding: 144px 141px 124px 141px;
}
.about-us__travell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.about-us__travell .travell-titel {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.about-us__travell .travell-text {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  color: #333333;
  text-align: center;
  margin-bottom: 64px;
  width: 50%;
}
.about-us .travell-card {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 120px;
  justify-content: center;
}
.about-us .travell-card .travell-item {
  display: flex;
  justify-content: none;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.about-us .travell-card .item-text {
  font-family: "Quicksand", sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 32px;
  color: #333333;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.about-us .travell-card .item-number {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: normal;
  color: #1ED400;
  text-transform: uppercase;
  margin-bottom: -100px;
}

.bg-photo1 {
  background-image: url("../img/ken-cheung.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  width: 100%;
  height: 964px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}

.call-to-action1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  padding: 56px 0 106px 0;
}
.call-to-action1 .titel-sub {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.call-to-action1 .titel {
  font-family: "Roboto Slab", serif;
  font-size: 144px;
  font-weight: 700;
  line-height: 100px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}
.call-to-action1 .data {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.call-to-action1 .text {
  font-family: "Quicksand", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #FFFFFF;
  text-align: center;
  width: 50%;
  margin-bottom: 16px;
}
.call-to-action1 .titel-sub-text {
  font-family: "Quicksand", sans-serif;
  font-size: 28px;
  font-weight: 500;
  line-height: 32px;
  color: #FFFFFF;
  border-top: 3px solid #FFFFFF;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  padding: 40px 0 24px 0;
}
.call-to-action1 .btn1 {
  padding: 19px 50px;
}

.btn1 {
  background-color: #1ED400;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}

.popular {
  padding: 124px 150px 72px 150px;
}
.popular .titel-subject {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}
.popular .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.popular .titel-card {
  position: relative;
}
.popular .text-card {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  color: #FFFFFF;
  padding: 5px 8px 5px 8px;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 10px;
}

.popular__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.popular__btn svg path {
  fill: #333333;
}
.popular__btn svg rect {
  fill: #333333;
}

.btn2 {
  padding: 19px 62px;
  margin-top: 50px;
  background-color: #1ED400;
  color: #FFFFFF;
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
}

.stories {
  background-image: url("../img/jeremy.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(30, 212, 0, 0.4);
  min-width: 100%;
  width: 100%;
  height: 964px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: column;
}
.stories .stories__titel svg {
  position: absolute;
  top: 130px;
  right: 203px;
}
.stories .stories__titel svg path {
  fill: #FFFFFF;
}
.stories .stories__titel svg rect {
  fill: #FFFFFF;
}
.stories .stories__titel .svg {
  position: absolute;
  top: 157px;
  right: 237px;
}
.stories .stories__titel .svg path {
  fill: #FFFFFF;
}
.stories .stories__titel .svg rect {
  fill: #FFFFFF;
}
.stories .titel-subject1 {
  font-family: "Roboto Slab", serif;
  font-size: 56px;
  font-weight: 700;
  line-height: normal;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}
.stories .info1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
.stories .titel-card1 {
  position: relative;
}
.stories .text-card1 {
  font-family: "Lato", serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #FFFFFF;
  padding: 4px 8px 4px 8px;
  background-color: rgba(0, 0, 0, 0.85);
  position: absolute;
  top: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: none;
  background: url("../img/imgMountains.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 36px 0;
}
.footer__logo {
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: #000000;
}
.footer .nav__item-link {
  color: #000000;
}
.footer .social__item-link svg path {
  fill: #000000;
}
.footer .social__item-link svg rect {
  fill: #000000;
}/*# sourceMappingURL=style.css.map */