*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Roboto Flex', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #CCCCCC  
}

.header-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.nav {
    display: flex;
    gap: 40px;
}

.nav-item {
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.btn-log {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #000000;
    background-color: #FFFFFF;
    border: 2px solid #AFAFAF;
    padding: 5px 40px;
} 

.btn-free {
    font-weight: 600;
    font-size: 16px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6336;
    border: 2px solid #FF6336;
    padding: 5px 35px;
}

.container-1{
    display: flex;
    align-items: center;
    padding: 100px 0 150px 0;
    margin: 0 75px 0 75px;
    gap: 40px;
}

.title{
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 50px;
}

.title-list{
    font-weight: 400;
    font-size: 25px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 50px;
}

.btn-free1{
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    background-color: #FF6336;
    border: 2px solid #FF6336;
    padding: 5px 40px;
}

.btn-demo{
    font-weight: 600;
    font-size: 16px;
    line-height: 60px;
    text-align: center;
    background-color: #FFFFFF;
    color: #000000;
    border: 2px solid #A0A0A0;
    padding: 5px 30px;
}

.text{
    padding-top: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
}

.container-2{
    background: #FF9C7D;
    padding: 100px 0; 
}

.title-2{
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
    color: #000000; 
    margin-bottom: 80px; 
}

.logo-grid{
    display: grid;
    grid-template-columns: repeat(6, 150px);
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.container-3{
    padding: 100px 0 150px 0;
    margin: 0 75px 0 75px;
}

.card-gif {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    grid-row-gap: 200px;
    grid-template-areas:
        ". a"
        "b ."
        ". c"
        "d .";
}

.gif1 {
    grid-area: a;
}

.gif2 {
    grid-area: b;
}

.gif3 {
    grid-area: c;
}

.gif4 {
    grid-area: d;
}

.card-process1, .card-process3{
    display: grid;
    padding: 5px 160px 5px 0px;;
    grid-gap: 30px;  
}

.card-process2,
.card-process4 {
    display: grid;
    padding: 5px 0px 0px 140px;
    grid-gap: 30px;
}

.titel-process{
    color: #000;
    font-size: 50px;
    font-weight: 600;
    line-height: 60px;
}

.text-process{
    color: #000;
    font-size: 20px;
    line-height: 30px;
}

.btn-card{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

}

.container-4 {
    background: #FFF8E4;
    padding: 120px 0 90px 0;
}

.card-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 75px 120px;
}

.card{
    display: grid;
    justify-items: center;
    padding: 20px 10px 0px 10px;
    grid-gap: 20px;
}

.card-details{
    display: grid;
    grid-gap: 20px;
    }

.card-items{
    font-weight: 600;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    color: #000000;
}

.card-item{
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #000000;
}

.container-5{
    padding: 150px 0 150px 0;
    margin: 0 75px 0 75px;
}

.job{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 30px;
}

.card2{
    display: grid;
    grid-gap: 50px; 
}

.card-titel-cont{
    display: grid;
    grid-gap: 30px;
}

.card-titel{
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

.card-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000000;
}

.card-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #000000;
}

.container-6 {
    background: #C9E8F2;
    padding: 60px 75px 100px;
    display: flex;
    gap: 60px;
}

.Revolut{
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    padding-bottom: 25px;
}

.about{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 10px;
}

.container-7{
    background: #DABC98;
    display: flex;
    justify-content: center;
    padding: 75px;
}

.cake{
    display: flex;
    align-items: center;
    gap: 60px;
}

.cake-titel{
    color: #000;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    border-right: 1px solid black;
    padding-right: 125px;
  
}

.cake-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 70px;
    gap: 20px;
}

.container-8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
}

.bird-titel{
    color: #000;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
}

.bird-text{
    color: #000;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}

.bird-see{
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 60px;
    background: #FF6336;
    border-color: #FF6336;
    padding: 10px 20px;
    margin-top: 20px;
}

.container-9{
    padding: 119px 0 160px 0;
    background: #FF9C7D;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.local-titel{
    color: #000;
    text-align: center;
    font-size: 65px;
    font-weight: 600;
    line-height: 75px;
    margin-bottom: 30px;
}

.local-text{
    color: #000;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
}

.btn-local{
    background: #000;
    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 60px;
    padding: 10px 40px;
}

.container-10{
    padding: 100px 75px 50px 75px;
    background: #EEE;
}

.case{
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    border-bottom: 1px solid #000000;
}

.studies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.studies-img{
    padding-top: 30px;
}

.Studies-titel{
    color: #000;
    font-size: 40px;
    font-weight: 600;
    line-height: 50px;
}

.Studies-text{
    color: #000;
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 15px 0;
    width: 50%;
}

.Studies-span{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

.case-list{
    display: flex;
    flex-direction: column;
    min-width: 225px
    
}

.list-titel{
    display: flex;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
}

.list-li{
    color: #000;
    font-size: 15px;
    line-height: 15px;
    padding: 20px 20px 0 0;
}

.lokalise {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 20px;
}

.lokalise-left{
    display: flex;
    gap: 15px;
    
}

.lokalise-text{
    color: #000;
    font-size: 12px;
    line-height: 15px;
    width: 50%;
}

.logo-span{
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 12px;
    line-height: 15px;
}

.span{
    text-decoration: underline;
}

