$light-green: #6FCF97;
$head-txt: #212D32;
$health-green: #38CEA8;
$light-text: #20414D;
$txt-main: #376474;
$white: #FFFFFF;
$Blue-Charcoal: #222426;
$Carrot-Orange: #ED8A19;
$Casal: #32505B;
$Royal-Blue: #6377DD;
$Black: #000000;
$Picton-Blue: #6A9FD3;
$Shamrock: #38CEA8;
$Selective-Yellow: #E8B408;
$Half: #EAE8CA;
$Chelsea-Cucumber: #83AF55;
$Pattens-Blue: #C1DFF7;
$Torch-Red: #FF001F;
$Eclipse: #404040;
$Grey: #888282;
$Honeydew: #EAFEEC;
$Whisper: #F0E9E9;
$Lily-White: #F1F3F2;
$Mint-Cream: #F1FFF8;
$Red-Orange: #F62A2A;
$Red: #FF0000;
$Clear-Day:#E7F9F4;
$Water-Leaf: #B9EEE1;
