@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@400;500;600;700;800&family=Roboto:wght@400;500;700&display=swap");
@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.eot");
  src: url("../fonts/icomoon.svg") format("svg"), url("../fonts/icomoon.ttf") format("truetype"), url("../fonts/icomoon.woff") format("woff");
}
* {
  border: none;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.icomoon {
  font-size: 24px;
  font-family: icomoon;
}

.icomoon1 {
  font-size: 16px;
  font-family: icomoon;
}

.icon-twitter:before {
  content: "\e904";
  color: #32505b;
}

.icon-facebook:before {
  content: "\e901";
  color: #32505b;
}

.icon-instagram:before {
  content: "\e902";
  color: #32505b;
}

.icon-behance:before {
  content: "\e900";
  color: #32505b;
}

.icon-Vector:before {
  content: "\e905";
  color: #ed8a19;
}

.icon-star:before {
  content: "\e903";
  color: #ed8a19;
}

.header {
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 0;
  flex-direction: column;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  padding: 22px 76px;
  background-color: #EAFEEC;
}

.second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 0px 88px;
  background-color: #F1FFF8;
}
.second-row li:hover, .second-row a:hover {
  text-decoration: underline;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: row;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: row;
}
.logo__txt {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #000000;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-direction: row;
}
.menu-item {
  padding: 24px 12px;
  position: relative;
}
.menu-item:hover .dropdown {
  display: block;
}

.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-direction: row;
}
.contacts a {
  color: #000000;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 0;
  flex-direction: column;
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
}
.dropdown-item {
  padding: 24px 12px;
  text-align: center;
  background-color: #F1FFF8;
}
.dropdown-item:not(:first-child) {
  padding: 24px 12px;
}
.dropdown-item:not(:first-child):hover {
  background-color: #EAFEEC;
  text-decoration: underline;
}

.Shape {
  background-color: #F1F3F2;
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 0;
  flex-direction: unset;
}
.Shape__life {
  padding: 0 0 0 179px;
}
.Shape .Shape-text .Shape-titel {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  text-align: center;
  color: #32505B;
  margin-bottom: 16px;
}
.Shape .Shape-text .Shape-titel-first {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-align: center;
  color: #376474;
  margin-bottom: 8px;
}
.Shape .Shape-text .Shape-descr {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: #376474;
  margin-bottom: 16px;
  width: 83%;
  margin-right: auto;
  margin-left: auto;
}
.Shape .Shape-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  flex-direction: unset;
}
.Shape .Shape-btn .Shape-button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 32px;
  background: #F62A2A;
  color: #FFFFFF;
  border-radius: 32px;
}
.Shape .Shape-btn .Shape-button1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 16px 32px;
  background: #38CEA8;
  color: #FFFFFF;
  border-radius: 32px;
}

.step {
  padding: 80px 75px 20px 75px;
}
.step__item-titel {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #212D32;
  text-align: center;
  margin-bottom: 16px;
}
.step__item-text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #376474;
  text-align: center;
  margin-bottom: 50px;
}

.step-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: unset;
}
.step-cards__nam {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  flex-direction: unset;
}
.step-cards__span {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: #38CEA8;
}
.step-cards__titel {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: #376474;
}
.step-cards__txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #376474;
  margin-bottom: 16px;
}
.step-cards__txt2 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #376474;
  width: 80%;
  margin-bottom: 46px;
}

.step-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: unset;
}
.step-button .step-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 32px;
  background: #FFFFFF;
  color: #38CEA8;
  border-radius: 24px;
  border: 2px solid #38CEA8;
}

.nutrition {
  background-image: url("../img/bigpreview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-width: 100%;
  width: 100%;
}

.nutrition__card {
  padding: 26px 75px 47px 75px;
  display: flex;
  justify-content: center;
  align-items: unset;
  gap: 32px;
  flex-direction: unset;
}
.nutrition__card .container-text-nut {
  display: flex;
  justify-content: unset;
  align-items: unset;
  gap: 0;
  flex-direction: column;
  padding: 16px;
  border-radius: 10px;
  background: #FFFFFF;
  position: relative;
}
.nutrition__card .container-text-nut .card-nut-border {
  border-radius: 10px;
  background: #38CEA8;
  min-height: 8px;
  max-height: 8px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
}
.nutrition__card .container-text-nut .card-nut-img {
  border-radius: 10px;
}
.nutrition__card .container-text-nut .card-nut-titel {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #376474;
  text-align: center;
  margin-top: 24px;
}
.nutrition__card .container-text-nut .card-nut-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #376474;
  text-align: center;
}
.nutrition__card .container-text-nut .card-nut-txt {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #376474;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.stories {
  padding: 26px 75px 64px 75px;
  display: flex;
  justify-content: space-between;
  align-items: unset;
  gap: 128px;
  flex-direction: unset;
}
.stories__titel {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #38CEA8;
  margin-bottom: 8px;
}
.stories__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #212D32;
  margin-bottom: 24px;
}
.stories__txt {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212D32;
  margin-bottom: 20px;
}
.stories__txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212D32;
}
.stories__img-girl {
  border-radius: 10px;
  border: 2px solid #38CEA8;
}

.persons-person {
  padding: 0 75px 0 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: unset;
}

.persons {
  padding: 25px 0 25px 0;
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 65px;
  grid-template-columns: repeat(2, 1fr);
  border-top: 4px solid #E7F9F4;
  border-bottom: 4px solid #B9EEE1;
}
.persons__one {
  max-width: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: unset;
}

.about__info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212D32;
  margin-bottom: 16px;
}
.about__info__info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about__name {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #000000;
}
.about__name-green {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #38CEA8;
}

.icon-starts {
  margin-top: 8px;
}

.one-top {
  margin-left: -120px;
}

.one-bottom {
  margin-left: 110px;
}

.plan {
  padding: 32px 68px 48px 94px;
  background-color: #E7F9F4;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
  margin-top: 64px;
}
.plan__titel {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 56px;
  color: #212D32;
  padding-bottom: 16px;
}
.plan__text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #212D32;
  padding-bottom: 32px;
  text-align: center;
  width: 60%;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex-direction: row;
  text-align: center;
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.item__titel {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 24px;
  color: #212D32;
  padding-top: 24px;
  padding-bottom: 16px;
}
.item__text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212D32;
  width: 85%;
}

.program {
  padding: 56px 75px 57px 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: unset;
  box-sizing: border-box;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

thead th {
  border: 1px solid #6377DD;
  padding: 16px 60px;
}
thead h4 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #212D32;
}
thead span {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #376474;
}

.tables td {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #212D32;
  border: 1px solid #6377DD;
}
.tables #text1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #212D32;
  padding: 24px 0 24px 0;
}
.tables #text {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #212D32;
  padding: 8px 39px 8px 48px;
}
.tables #upper {
  font-family: "Roboto", sans-serif;
  font-size: 58px;
  font-weight: 300;
  line-height: 56px;
  color: #212D32;
}

tfoot td {
  border: 1px solid #6377DD;
}

#red {
  border-top: 1px solid #FF0000;
  border-right: 1px solid #FF0000;
}

#red1 {
  border-top: 1px solid #FF0000;
  border-right: 1px solid #FF0000;
}

#red3 {
  border-bottom: 1px solid #FF0000;
  border-right: 1px solid #FF0000;
}

#red4 {
  border-right: 1px solid #FF0000;
}

.btn-table {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #FFFFFF;
  color: #38CEA8;
  border-radius: 24px;
  border: 2px solid #38CEA8;
  padding: 8px 24px;
  margin: 32px 70px;
}

.questions {
  padding: 75px 75px 75px 155px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  justify-items: center;
  grid-gap: 72px 113px;
  grid-template-columns: repeat(2, 1fr);
}
.questions .diet {
  position: relative;
}
.questions .diet .diet-img {
  position: absolute;
  left: -75px;
  top: -20px;
}
.questions .diet .diet-titel {
  color: #212D32;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 8px;
}
.questions .diet .diet-text {
  color: #20414D;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 90%;
}

.info-page {
  background-image: url("../img/Mask.png");
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 100%;
  width: 100%;
  height: 584px;
}

.info-page__card {
  display: flex;
  justify-content: unset;
  align-items: center;
  gap: 0;
  flex-direction: unset;
  padding: 108px 699px 146px 179px;
}
.info-page__card .container-text {
  background: #FFFFFF;
  border-radius: 10px;
  padding: 59px 65px 21px 72px;
}
.info-page__card .container-text .card-titel {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #38CEA8;
  margin-bottom: 1px;
}
.info-page__card .container-text .card-titel-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #20414D;
  margin-bottom: 31px;
}
.info-page__card .container-text .card-descr {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #212D32;
}
.info-page__card .container-text .card-descr-span {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #212D32;
  margin-bottom: 32px;
}
.info-page__card .email {
  border-radius: 100px;
  border: 1px solid #888282;
  background: #F0E9E9;
  padding: 8px 164px 8px 16px;
}
.info-page__card ::-moz-placeholder {
  color: #404040;
}
.info-page__card ::placeholder {
  color: #404040;
}

.btn {
  display: flex;
  justify-content: unset;
  align-items: baseline;
  gap: 23px;
  flex-direction: unset;
}
.btn .button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 16px;
  padding: 8px 32px;
  background: #38CEA8;
  color: #FFFFFF;
  border-radius: 50px;
}
.btn .info-span {
  font-family: "Roboto", sans-serif;
  font-size: 9px;
  font-weight: 400;
  line-height: 24px;
  color: #212D32;
  font-style: normal;
}

.persons1-person {
  padding: 72px 179px 72px 179px;
}
.persons1-person__titel {
  font-family: "Roboto", sans-serif;
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
  color: #212D32;
  text-align: center;
  margin-bottom: 16px;
}
.persons1-person__txt {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #20414D;
  text-align: center;
  margin-bottom: 24px;
}
.persons1-person__txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #20414D;
  text-align: center;
  margin-top: 64px;
}

.persons1 {
  display: grid;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 70px 32px;
  grid-template-columns: repeat(2, 1fr);
}
.persons1__one1 {
  max-width: 488px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-direction: unset;
}
.persons1__about1-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  flex-direction: row;
}

.about1__info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #20414D;
  margin-top: 8px;
}
.about1__info__info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.about1__name1 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
  color: #212D32;
}
.about1__name1-green1 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: #38CEA8;
  margin-right: 15px;
  margin-bottom: 8px;
}

.Our-Diet {
  padding: 80px 0;
  background: #38CEA8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-direction: unset;
}
.Our-Diet__txt {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: #FFFFFF;
  font-style: normal;
}
.Our-Diet__btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px;
  background: #38CEA8;
  color: #FFFFFF;
  border-radius: 24px;
  border: 2px solid #FFFFFF;
}

.Happy-Life {
  padding: 24px 283px 14px 283px;
}
.Happy-Life__steps {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-direction: none;
}
.Happy-Life .steps-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
  color: #212D32;
  padding-right: 136px;
  width: 30%;
}
.Happy-Life .steps-titel {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #212D32;
  margin-bottom: 32px;
}
.Happy-Life .steps-txt {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #000000;
  margin-bottom: 8px;
}
.Happy-Life .steps-txt1 {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  color: #376474;
  margin-bottom: 16px;
}

.steps-btn {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 8px 16px;
  background: #FFFFFF;
  color: #38CEA8;
  border-radius: 24px;
  border: 2px solid #38CEA8;
}

.steps-list {
  display: flex;
  justify-content: none;
  align-items: none;
  gap: 0;
  flex-direction: column;
  padding-right: 48px;
}
.steps-list .list-titel {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #376474;
  margin-bottom: 24px;
}
.steps-list .list-li {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: #212D32;
}

@media screen and (max-widht: 1920px) and (min-widht: 1800px) {
  div {
    background-color: #376474;
  }
}/*# sourceMappingURL=style.css.map */