@use 'color';
@use 'mixin';

@font-face{
    font-family: icomoon;
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.svg') format('svg'),
         url('../fonts/icomoon.ttf') format('truetype'),
         url('../fonts/icomoon.woff') format('woff');
}

* {
    border: none;
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.icomoon{
    font-size: 24px;
    font-family: icomoon;
}

.icomoon1 {
    font-size: 16px;
    font-family: icomoon;
}

.icon-twitter:before {
    content: "\e904";
    color: #32505b;
}

.icon-facebook:before {
    content: "\e901";
    color: #32505b;
}

.icon-instagram:before {
    content: "\e902";
    color: #32505b;
}

.icon-behance:before {
    content: "\e900";
    color: #32505b;
}

.icon-Vector:before {
    content: "\e905";
    color: #ed8a19;
}

.icon-star:before {
    content: "\e903";
    color: #ed8a19;
}

.header{
    @include mixin.flex(center, unset, 0, column);

}
.first-row{
    @include mixin.flex(space-between, center, 0, row);
    padding: 22px 76px;
    background-color: color.$Honeydew;

}
.second-row{
    @include mixin.flex(space-between, center, 0, row);
    @include mixin.Roboto(16px, 24px, 400);
    padding: 0px 88px;
    background-color: color.$Mint-Cream;

    li:hover, a:hover{
        text-decoration: underline;
    }

}
.social{
    @include mixin.flex(center, center, 24px, row);

}
.logo{
    @include mixin.flex(center, center, 0, row);
    &__txt{
        @include mixin.Roboto(24px, 32px, 400);
        color: color.$Black;

    }
}

.menu{
    @include mixin.flex(center, center, 0px, row);
    &-item{
        padding: 24px 12px;
        position: relative;
        &:hover {
            .dropdown{display: block;
            }
            }
    }
}

.contacts{
    @include mixin.flex(center, center, 30px, row);
    a{
    color: color.$Black;
    }
}

.dropdown{
    @include mixin.flex(center, unset, 0, column);
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    &-item{
        padding: 24px 12px;
        text-align: center;

        &:not(:first-child){
            padding: 24px 12px;
            &:hover{
                background-color: color.$Honeydew;
                text-decoration: underline;
            }
        }
        background-color: color.$Mint-Cream;
    } 
}

    .Shape {
        background-color: color.$Lily-White;
        @include mixin.flex(unset, center, 0, unset);
        &__life {
        padding: 0 0 0 179px;
      }

    .Shape-text {
        .Shape-titel {
            @include mixin.Roboto(48px, 56px, 500);
            text-align: center;
            color: color.$Casal;
            margin-bottom: 16px;
        }

        .Shape-titel-first {
            @include mixin.Roboto(48px, 56px, 700);
            text-align: center;
            color: color.$txt-main;
            margin-bottom: 8px;
        }

        .Shape-descr {
            @include mixin.Roboto(16px, 24px, 400);
            text-align: center;
            color: color.$txt-main;
            margin-bottom: 16px;
            width: 83%;
            margin-right: auto;
            margin-left: auto;
        }
    }
    
    .Shape-btn {
        @include mixin.flex(center, center, 18px, unset);
    
        .Shape-button {
            @include mixin.Roboto(16px, 24px, 400);
            padding: 16px 32px;
            background: color.$Red-Orange;
            color: color.$white;
            border-radius: 32px;      
        }
        .Shape-button1 {
            @include mixin.Roboto(16px, 24px, 400);
            padding: 16px 32px;
            background: color.$Shamrock;
            color: color.$white;
            border-radius: 32px;
        }
}
}

.step{
    padding: 80px 75px 20px 75px;
    &__item-titel{
        @include mixin.Roboto(48px, 56px, 500);
        color: color.$head-txt;
        text-align: center;
        margin-bottom: 16px;
    }
    &__item-text {
        @include mixin.Roboto(24px, 32px, 400);
        color: color.$txt-main;
        text-align: center;
        margin-bottom: 50px;
    }
}
.step-cards{
    @include mixin.flex(center, center, 32px, unset);
    &__nam{
        @include mixin.flex(center, flex-start, 10px, unset);
    }
    &__span{
        @include mixin.Roboto(48px, 56px, 700);
        color: color.$health-green;
    }
    &__titel{
        @include mixin.Roboto(20px, 32px, 700);
        color: color.$txt-main;
    }
    &__txt1 {
        @include mixin.Roboto(16px, 24px, 400);
        color: color.$txt-main;
        margin-bottom: 16px;
    }
    &__txt2 {
        @include mixin.Roboto(16px, 24px, 400);
        color: color.$txt-main;
        width: 80%;
        margin-bottom: 46px;
    }
}

.step-button{
    @include mixin.flex(center, center, 0, unset);
    .step-btn{
        @include mixin.Roboto(16px, 24px, 400);
        padding: 8px 32px;
        background: color.$white;
        color: color.$health-green;
        border-radius: 24px;
        border: 2px solid color.$health-green;
    }
   
}

.nutrition{
        background-image: url('../img/bigpreview.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        min-width: 100%;
        width: 100%;
}

.nutrition__card{
    padding: 26px 75px 47px 75px;
    @include mixin.flex(center, unset, 32px, unset);
    .container-text-nut{
        @include mixin.flex(unset, unset, 0, column);
        padding: 16px;
        border-radius: 10px;
        background: color.$white;
        position: relative;
        .card-nut-border{
            border-radius: 10px;
            background: color.$health-green;
            min-height: 8px;
            max-height: 8px;
            position: absolute;
            z-index: 1;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        .card-nut-img{
            border-radius: 10px;
        }
        .card-nut-titel{
            @include mixin.Roboto(24px, 32px, 400);
            color: color.$txt-main;
            text-align: center;
            margin-top: 24px;

        }
        .card-nut-text{
            @include mixin.Roboto(16px, 24px, 400);
            color: color.$txt-main;
            text-align: center;
        }
        .card-nut-txt{
            @include mixin.Roboto(16px, 24px, 400);
            color: color.$txt-main;
            text-align: center;
            margin-top: 16px;
            margin-bottom: 32px;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
        }
    }
}

.stories{
    padding: 26px 75px 64px 75px;
    @include mixin.flex(space-between, unset, 128px, unset);
    &__titel{
        @include mixin.Roboto(48px, 56px, 400);
        color: color.$health-green;
        margin-bottom: 8px;
    }
    &__text{
        @include mixin.Roboto(24px, 32px, 400);
        color: color.$head-txt;
        margin-bottom: 24px;
    }
    &__txt{
        @include mixin.Roboto(16px, 24px, 400);
        color: color.$head-txt;
        margin-bottom: 20px;
    }
    &__txt1 {
        @include mixin.Roboto(16px, 24px, 400);
        color: color.$head-txt;
    }
    &__img-girl{
        border-radius: 10px;
        border: 2px solid color.$health-green;
    }
}

.persons-person{
    padding: 0 75px 0 75px;
    @include mixin.flex(space-between, center, 0, unset);
}

.persons{
    padding: 25px 0 25px 0;
    @include mixin.grid(center, center, center, 65px);
    grid-template-columns: repeat(2, 1fr);
    border-top: 4px solid color.$Clear-Day;
    border-bottom: 4px solid color.$Water-Leaf;
    &__one{
        max-width: 465px;
        @include mixin.flex(center, center, 40px, unset);
    }
}

.about{
    &__info{
        @include mixin.Roboto(16px, 24px, 400);
        color: color.$head-txt;
        margin-bottom: 16px;
        &__info{
            @include mixin.Roboto(16px, 24px, 400);
        }
    }
    &__name{
        @include mixin.Roboto(18px, 24px, 500);
        color: color.$Black;
        &-green{
            @include mixin.Roboto(16px, 24px, 400);
            color: color.$health-green;
        }
    }
}
.icon-starts{
    margin-top: 8px;
}

.one-top{
     margin-left: -120px;
}

.one-bottom{
    margin-left: 110px;
}


.plan{
    padding: 32px 68px 48px 94px;
    background-color: color.$Clear-Day;
    @include mixin.flex(center, center, 0, column);
    margin-top: 64px;
    &__titel{
        @include mixin.Roboto(48px, 56px, 400);
        color: color.$head-txt;
        padding-bottom: 16px;
    }
    &__text{
        @include mixin.Roboto(24px, 32px, 400);
        color: color.$head-txt;
        padding-bottom: 32px;
        text-align: center;
        width: 60%;

    }
}

.block{
        @include mixin.flex(center, center, 32px, row);
        text-align: center;
}

.item{
    @include mixin.flex(center, center, 0, column);
    &__titel {
        @include mixin.Roboto(22px, 24px, 500);
        color: color.$head-txt;
        padding-top: 24px;
        padding-bottom: 16px;
        }
    
        &__text {
        @include mixin.Roboto(16px, 24px, 400);
        color: color.$head-txt;
        width: 85%;
        }
}

.program{
    padding: 56px 75px 57px 75px;
    @include mixin.flex(center, center, 0, unset);
    box-sizing: border-box;
    text-align: center;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

thead{
    th{
    border: 1px solid color.$Royal-Blue;
    padding: 16px 60px;
    }
    h4{
    @include mixin.Roboto(24px, 32px, 400);
    color: color.$head-txt;
    }
    span{
    @include mixin.Roboto(16px, 24px, 400);
    color: color.$txt-main;
    }
}

.tables{
    td{
    @include mixin.Roboto(16px, 24px, 400);
    color: color.$head-txt;
    border: 1px solid color.$Royal-Blue;
    }
    #text1{
    @include mixin.Roboto(24px, 32px, 400);
    color: color.$head-txt;
    padding: 24px 0 24px 0;
    }
    #text{
    @include mixin.Roboto(24px, 32px, 400);
    color: color.$head-txt;
    padding: 8px 39px 8px 48px;
    }
    #upper{
    @include mixin.Roboto(58px, 56px, 300);
    color: color.$head-txt;
    }
}

tfoot{
    td{
    border: 1px solid color.$Royal-Blue;
    }   
}

#red{
    border-top: 1px solid color.$Red;
    border-right: 1px solid color.$Red;
}

#red1 {
    border-top: 1px solid color.$Red;
    border-right: 1px solid color.$Red;
}

#red3 {
    border-bottom: 1px solid color.$Red;
    border-right: 1px solid color.$Red;
}

#red4 {
    border-right: 1px solid color.$Red;
}

.btn-table{
    @include mixin.Roboto(16px, 24px, 400);
    background-color: color.$white;
    color: color.$health-green;
    border-radius: 24px;
    border: 2px solid color.$health-green;
    padding: 8px 24px;
    margin: 32px 70px;
}


.questions{
    padding: 75px 75px 75px 155px;
    @include mixin.grid(space-around, center, center, 72px 113px);
    grid-template-columns: repeat(2, 1fr);
    .diet {
     position: relative;
    .diet-img {
            position: absolute;
            left: -75px;
            top: -20px;
        }
    
        .diet-titel {
            color: color.$head-txt;
            @include mixin.Roboto(24px, 32px, 400);
            margin-bottom: 8px;
        }
    
        .diet-text {
            color: color.$light-text;
            @include mixin.Roboto(16px, 24px, 400);
            width: 90%;
        }
     }
}

    .info-page{
        background-image: url('../img/Mask.png');
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 100%;
        width: 100%;
        height: 584px;
    }

    .info-page__card{
        @include mixin.flex(unset, center, 0, unset);
        padding: 108px 699px 146px 179px;
        .container-text {
        background: color.$white;
        border-radius: 10px;
        padding: 59px 65px 21px 72px;
        .card-titel {
                @include mixin.Roboto(24px, 32px, 400);
                color: color.$health-green;
                margin-bottom: 1px;
            }
            .card-titel-text {
                @include mixin.Roboto(16px, 24px, 400);
                color: color.$light-text;
                margin-bottom: 31px;
            }
            .card-descr {
                @include mixin.Roboto(12px, 18px, 400);
                color: color.$head-txt;
            }
            .card-descr-span {
                @include mixin.Roboto(12px, 18px, 500);
                color: color.$head-txt;
                margin-bottom: 32px;
            }
        }
                .email {
                    border-radius: 100px;
                    border: 1px solid #888282;
                    background: color.$Whisper;
                    padding: 8px 164px 8px 16px;
                 }
                ::placeholder {
                    color: color.$Eclipse;
                }
    }

    .btn{
        @include mixin.flex(unset, baseline, 23px, unset);

        .button {
                @include mixin.Roboto(16px, 24px, 400);
                margin-top: 16px;
                padding: 8px 32px;
                background: color.$Shamrock;
                color: color.$white;
                border-radius: 50px;
            }

        .info-span {
            @include mixin.Roboto(9px, 24px, 400);
            color: color.$head-txt;
            font-style: normal;
        }
    }

    .persons1-person{
        padding: 72px 179px 72px 179px;
        &__titel{
            @include mixin.Roboto(48px, 56px, 500);
            color: color.$head-txt;
            text-align: center;
            margin-bottom: 16px;
        }
        &__txt {
            @include mixin.Roboto(24px, 32px, 400);
            color: color.$light-text;
            text-align: center;
            margin-bottom: 24px;
        }
        &__txt1 {
            @include mixin.Roboto(24px, 32px, 400);
            color: color.$light-text;
            text-align: center;
            margin-top: 64px;
        }

    }

        .persons1 {
        @include mixin.grid(center, center, center, 70px 32px);
        grid-template-columns: repeat(2, 1fr);

        &__one1 {
            max-width: 488px;
            @include mixin.flex(center, center, 25px, unset);
        }

        &__about1-icon {
            @include mixin.flex(flex-start, center, 25px, row);
        }
        }

       

        .about1 {
        &__info {
            @include mixin.Roboto(16px, 24px, 400);
            color: color.$light-text;
            margin-top: 8px;

            &__info {
                @include mixin.Roboto(16px, 24px, 400);
            }
        }

        &__name1 {
            @include mixin.Roboto(12px, 18px, 700);
            color: color.$head-txt;

            &-green1 {
                @include mixin.Roboto(18px, 24px, 500);
                color: color.$health-green;
                margin-right: 15px;
                margin-bottom: 8px;

            }
        }
        }

        // .icon-starts {
        // margin-top: 8px;
        // }




    .Our-Diet{
        padding: 80px 0;
        background: color.$health-green;
        @include mixin.flex(center, center, 16px, unset);
        &__txt{
            @include mixin.Roboto(24px, 32px, 700);
            color: color.$white;
            font-style: normal;
        }
        &__btn{
            @include mixin.Roboto(16px, 24px, 400);
            padding: 8px 16px;
            background: color.$health-green;
            color: color.$white;
            border-radius: 24px;
            border: 2px solid color.$white;
        }
    }

        .Happy-Life {
            padding: 24px 283px 14px 283px;
            &__steps {
                @include mixin.flex(center, flex-start, 0, none);
            }
    
    
            .steps-text {
                @include mixin.flex(center, flex-start, 0, column);
                color: color.$head-txt;
                padding-right: 136px;
                width: 30%;

            }
    
            .steps-titel {
                @include mixin.Roboto(12px, normal, 400);
                color: color.$head-txt;
                margin-bottom: 32px;
            }
    
            .steps-txt {
                @include mixin.Roboto(12px, normal, 400);
                color: color.$Black;
                margin-bottom: 8px; 
            }
    
            .steps-txt1 {
                @include mixin.Roboto(12px, normal, 400);
                color: color.$txt-main;
                margin-bottom: 16px;
            }
        }

            .steps-btn {
                @include mixin.Roboto(16px, 24px, 400);
                padding: 8px 16px;
                background: color.$white;
                color: color.$health-green;
                border-radius: 24px;
                border: 2px solid color.$health-green;
            }

        .steps-list {
                @include mixin.flex(none, none, 0, column);
                padding-right: 48px;
                 

            .list-titel {
                @include mixin.Roboto(16px, 24px, 400);
                color: color.$txt-main;
                margin-bottom: 24px;
                
            }
    
            .list-li {
                @include mixin.Roboto(16px, 35px, 400);
                color: color.$head-txt;
            }
        }

@media screen and (max-widht:1920px) and (min-widht:1800px){
    div{
        background-color: color.$txt-main;
    }

}

   

   






       